[Unit]
Description=RDO Dashboard
After=network-online.target

[Service]
Environment=PATH=/home/centos/bin:/usr/bin:/usr/local/bin
Type=simple
User=centos
WorkingDirectory=/home/centos/rdo-dashboards
ExecStart=/home/centos/bin/dashing start

[Install]
WantedBy=multi-user.target
