<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee.
        // You can do this on a per dashboard basis.
        Dashing.widget_margins = [5, 5]
        Dashing.widget_base_dimensions = [300, 250]
        Dashing.numColumns = 4
        Dashing.debugMode = true

    });
</script>

<% content_for :title do %>RDO Queens<% end %>
<div class="gridster">
  <ul>

    <!-- RDO Queens: combined list of promoted hashes-->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="promolist_queens_all" data-view="List" data-unordered="true"
           data-title="Recent Promotions: Queens"
           data-moreinfo="upstream, rdophase1, rdophase2">
      </div>
    </li>

    <!-- most recently promoted hashes for each phase of promotion pipeline -->
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_queens_ooo" data-view="Promotext" data-title="current-tripleo (Tripleo Upstream)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_queens_rdo1" data-view="Promotext" data-title="current-tripleo-rdo (RDO Phase 1)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_queens_rdo2" data-view="Promotext" data-title="current-tripleo-rdo-internal (RDO Phase 2)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
  </ul>
</div>
