<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee.
  // You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [305, 305]
  Dashing.numColumns = 6
});
</script>

<% content_for(:title) { "RDO Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deloreanmasterc9" data-view="Alert" data-title="Master C9 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos9/status_report.html"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="deloreanbobcatc9" data-view="Alert" data-title="Bobcat C9 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos9-bobcat/status_report.html"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deloreanantelopec9" data-view="Alert" data-title="Antelope C9 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos9-antelope/status_report.html"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="deloreanzedc9" data-view="Alert" data-title="Zed C9 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos9-zed/status_report.html"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deloreanyogac9" data-view="Alert" data-title="Yoga C9 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos9-yoga/status_report.html"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="deloreanyogac8" data-view="Alert" data-title="Yoga C8 Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos8-yoga/status_report.html"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deloreanxena" data-view="Alert" data-title="Xena Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos8-xena/status_report.html"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="deloreanwallaby" data-view="Alert" data-title="Wallaby Packaging" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="" data-link="http://trunk.rdoproject.org/centos8-wallaby/status_report.html"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deloreanci" data-view="Alert" data-title="Master RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="deloreancibobcat" data-view="Alert" data-title="Bobcat RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deloreanciantelope" data-view="Alert" data-title="Antelope RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deloreancized" data-view="Alert" data-title="Zed RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="deloreanciyoga" data-view="Alert" data-title="Yoga RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deloreancixena" data-view="Alert" data-title="Xena RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="deloreanciwallaby" data-view="Alert" data-title="Wallaby RDO Promotion CI" data-addclass-danger="isTooHigh" data-addclass-alert="isHigh" data-suffix="d" data-moreinfo="# of days since successful run" data-link="https://prometheus.monitoring.softwarefactory-project.io/grafana/d/1cbR4SISz/rdo-puppet-promotions-pipeline?orgId=1&from=now-7d&to=now"></div>
    </li>
  </ul>
</div>
