<% content_for :title do %>Report FTBFS<% end %>

<div>
<ul>
    <li data-row="1" data-col="1" data-sizex="" data-sizey="1">
      <div data-id="report-ftbfs" data-view="Table" data-title="Report FTBFS" data-moreinfo="Showing all currently failing package build attempts" style="display: list-item"></div>
    </li>
  </ul>
</div>

