<script type='text/javascript'>
  function displayFilteredRows() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("filterInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("filteredTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    for (j = 0; j < 7; j++) {
      td = tr[i].getElementsByTagName("td")[j];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
         break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}
</script>

<% content_for :title do %>Report FTBFS<% end %>

<div>
<ul>
    <li data-row="1" data-col="1" data-sizex="" data-sizey="1">
      <div class="widget widget-ftbfs report-ftbfs" data-id="report-ftbfs" data-view="Ftbfs" data-title="Report FTBFS" data-moreinfo="Showing all currently failing package build attempts" style="display: list-item"></div>
    </li>
  </ul>
</div>

