<% content_for :title do %>Report UC on CentOS Stream 9<% end %>

<div>
<ul>
    <li data-row="1" data-col="1" data-sizex="" data-sizey="1">
      <div data-id="report-uc-cs9" data-view="Table" data-title="Report UC on CS9" data-moreinfo="Comparing upper constraints modules in master branch to packages in master trunk repo on CS9" style="display: list-item"></div>
    </li>
  </ul>
</div>
